# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build files
/.next/
/out/

# Production
/build

# Compiled output
/dist
/lib

# Staticfied build
/build_static

# Netlify
.netlify

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Environment variables
.env*.local
!.env.example

# macOS
.DS_Store

# IDE specific files
.idea
.vscode/*
!.vscode/settings.json # Allow sharing of workspace settings if desired
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Debugging
*.pid
*.seed
*.pid.lock

# Misc
.temp
.cache
temp/
tmp/
